<div class="battle-container">
  <div class="battle-section instruction">
    <h1>Instructions</h1>
    <div class="section-wrapper">
      <battle-card></battle-card>
      <battle-card></battle-card>
      <battle-card></battle-card>
      <battle-card></battle-card>
    </div>
  </div>

  <div class="battle-section players">
    <h1>Players</h1>
    <div class="section-wrapper">
      <app-battle-input></app-battle-input>
      <app-battle-input></app-battle-input>
    </div>
  </div>
</div>
